
#navbar{
    width: 100%;
    height: 64px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#navbar ul a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 22px;
}

#navbar ul a:hover{
    background-color: #555;
    border-radius: 5px;
}